@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-border-bottom {
    box-shadow: -3px 5px 28px 3px rgba(0, 50, 235, 0.43);
    -webkit-box-shadow: -3px 5px 28px 3px rgba(0, 50, 235, 0.43);
    -moz-box-shadow: -3px 5px 28px 3px rgba(0, 50, 235, 0.43);
  }

  .dropdown:hover .menu {
  display: block;
  }
}

